html{
background-color: black;
}
h1
{
 text-align: center;
 color: yellow;
}

.container {
  width: 500px;
  height:250px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border-style:groove;
  border-color:red;
}
.button {
    background-color: #FFC0CB; 
}
.image{
  width: 200%;
  height:200%;
  background-color: black;
  margin: 0 auto;
  position: absolute;
  }
  
.container .image img{
  width: 500px;
  height:250px;
  background-color: black;
  margin: 0 auto;
  position: relative;
}

.next{
 top: 110px;
 right: 0px;
 position: absolute;
 z-index:10;
 background-color: yellow;
}

.prev{
 top: 110px;
 left: 0px;
 position: absolute;
 z-index:10;
 background-color: yellow;
}

.numbering{
 top: 210px; 
 position: absolute;
 z-index:10;
 background-color: pink;
}

.one{
left: 180px;
}

.two{
left: 210px;
}

.three{
left: 240px;
}

.four{
left: 270px;
}

.five{
left: 300px;
}

.des{
  width: 80px;
  height: 15px;
 background-color: #98fb98;
 display: inline-block;
 top: 200px;
 left: 10px;
 position: absolute;
 z-index:10;
}